.parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    // z-index: 10000;
  }

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.logo{
    width: 33%;
    padding: 10px;
    align-self: flex-start;
    color: white;
    border-left: #FFEDC1 solid 2px;
    // border: solid black 1px;
}

.navbar{
    width: 33%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    // border: solid black 1px;
    
}

.container{
    width: 100%;
    text-align: center;
    // border: solid black 1px;
}

.navbar > div > a{
    text-decoration: none;
    color: white;
    // border: solid black 1px;  
  }

.nav-burger{
    width: 33%;
    align-self: center;
    // visibility: hidden;
    // border: solid black 1px;
}

